<nav>
    <h1>header</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, non sapiente. Iusto excepturi est optio sit repellendus. Optio, numquam accusamus cumque odit, vitae soluta deserunt fugit atque, voluptatum odio architecto.</p>
</nav>