<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      nav h1 {
        font-size: 3rem;
        text-align: center;
        color: blue;
      }
      nav p {
        font-size: 2rem;
        color: green;
        padding: 3rem;
        padding-left: 10rem;
        padding-right: 10rem;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>header</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, non
        sapiente. Iusto excepturi est optio sit repellendus. Optio, numquam
        accusamus cumque odit, vitae soluta deserunt fugit atque, voluptatum
        odio architecto.
      </p>
    </nav>
  </body>
</html>
